html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* mode flex dans la bare de navigation */
.navbar-nav {
  justify-content: flex-end;
}
/* modification du font pour la class */
.navbar-brand{
  font-family: "Lilita One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
}

/* ne peux pas modifier l'arrierre plan? */
html{
  background: url(../../../photo/vegeta.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}