@page
@model Biblio.Pages.biblio1
@{
    ViewData["Title"] = "La bibliothèque";

}

<h1>@ViewData["Title"]</h1>

<style>

    html{
        background: url(C:\Users\Alla-Eddine.Boukabou\Documents\GitHub\Bibliotheque\photo\vegeta.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    

</style>

<div>
    <h1>Hakouna matata </h1>
    <h1>@Model.TimeOfDay</h1>

   
</div>
      