@page "{id:int}"
@model Biblio.Pages.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<div>
    <h1> Veut tu Supprimer Le livre @Model.Livre.Titre?</h1>
    <form method="post" > <button type="submit" class="btn btn-danger btn-sm">Yes</button>
    <a class="btn btn-danger btn-sm" asp-page="/Index" >No</a></form>
    
</div>

